@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    int UserId = ViewBag.Id;
    string maxPrice = "0";
    if (ViewBag.ComCheck[0].comPriceMax == null) 
    { maxPrice = ""; }else { maxPrice = ViewBag.ComCheck[0].comPriceMax; }
}

<style>
    #comTitle{
        display: inline-block;
    }
    img {
        display: inline-block;
        max-width: 100px;
    }

    #comPrice {
        float: right;
    }

    #comDes, #userNotice {
        display: inline-block;
        width: 90%;
    }

    #comBtn{
        display: inline-block;
        float:right;
    }

</style>

<div class="container">
    <div class="row">
        <div class="col-12">
            <ul class="list-group">
                <li class="list-group-item" position-relative m-4>
                    <div class="col-md-3">
						<img class="listImg float-md-start me-md-3" src="data:image/*;base64,@(Convert.ToBase64String(@ViewBag.ComCheck[0].creatorAvatar))" />
                    </div>
                    <br />
                    <div class="text-start">
						<h3 id="comTitle">
							<span>
								<a asp-controller="Lolm" asp-action="EventContent" asp-route-id="">
									@ViewBag.ComCheck[0].commissionTitle
								</a>
							</span>
						</h3>
						<p id="creatorName">創作者：@ViewBag.ComCheck[0].creatorName</p>
						<p id="comDes"> @ViewBag.ComCheck[0].comDescription</p>
						<h5 id="comPrice">@ViewBag.ComCheck[0].comPriceMin - @maxPrice</h5>
                        <hr />
                        <p>約稿內容</p>
                        <textarea id="userNotice" rows="5" class="d-block" placeholder="把想看到的主題或角色特徵傳達給創作者吧。&#10註明用途可以讓創作者根據您的用途來創作作品。"></textarea>
                        <button id="comBtn">確認</button>
                    </div>
                </li>
            </ul>
            
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $("#comBtn").click(function () {
            var comText = $("#userNotice").val()
            var ComDataToServer = {
                Description: comText,
                UserId: @UserId,/* 這裡寫會員會被串改 */
                CommissionId: @ViewBag.ComCheck[0].commissionId,
                PriceMin: @ViewBag.ComCheck[0].comPriceMin
            };

            $.ajax({
                url: "/yhu/ComOrders",
                method: "post",
                data: ComDataToServer,
                success: function (response) {
                    alert("新增成功");
                    window.history.back();
                },
                error: function () {
                    alert('新增失敗');
                }
            });
        });
    });
</script>