<link rel="stylesheet" href="/css/Shared/Quill.css" />
<link href="~/css/Lolm/EventEdit.css" rel="stylesheet" />
<div class="container">
    <div class="row">
        <div class="col-7 d-flex flex-column">
            <div><h3>發起活動</h3></div>
            <div class="mb-3"><b>標題</b><br /> <input id="eventName" class="EventNameInput" type="text" name="EventName" value="@ViewBag.Event[0].EventName" /></div>
            <div class="EventIntroSection">
                <b>活動描述</b><br />
                <div class="mb-3" id="editor">
                </div>
            </div>
            <div class="mb-3 d-flex SetEventTime">
                <b>時程設定</b>
                <input id="startDate" type="datetime-local" name="StartDate" value="@ViewBag.Event[0].StartDate" />
                <span>~</span>
                <input id="endDate" type="datetime-local" name="EndDate" value="@ViewBag.Event[0].EndDate" />
            </div>
            <div class="mb-3 d-flex EventColoerSection">
                <b>佈景顏色</b>
                @if (ViewBag.Event[0].Style != null)
                {
                    <input type="checkbox" name="SetColorOrNot" value="" id="SetColorOrNot" checked />
                    <label for="SetColorOrNot">設定佈景顏色</label>
                    <div class="d-flex">
                        <label for="EventTitleColorInput">標題背景色</label>
                        <input type="color" id="EventTitleColorInput" name="EventTitleColor" value="@ViewBag.Event[0].EventTitleColor" />
                        <label for="EventIntroColorInput">說明欄背景色</label>
                        <input type="color" id="EventIntroColorInput" name="EventIntroColor" value="@ViewBag.Event[0].EventIntroColor" />
                    </div>
                }
                else
                {
                    <input type="checkbox" name="SetColorOrNot" value="" id="SetColorOrNot" />
                    <label for="SetColorOrNot">設定佈景顏色</label>
                    <div class="d-flex">
                        <label for="EventTitleColorInput">標題背景色</label>
                        <input type="color" id="EventTitleColorInput" name="EventTitleColor" />
                        <label for="EventIntroColorInput">說明欄背景色</label>
                        <input type="color" id="EventIntroColorInput" name="EventIntroColor" />
                    </div>
                }

            </div>
        </div>
        <div class="col-5">
            <div>
                <b class="mb-2">封面圖片</b> <br />
                <form action="/somewhere/to/upload" enctype="multipart/form-data">
                    <input type="file" id="progressbarTWInput" accept="image/gif, image/jpeg, image/png" />
                    <div class="PreviewImgWarp">
                        @if (ViewBag.Event[0].Banner != null)
                        {
                            <img id="preview_progressbarTW_img" src="@ViewBag.Event[0].Banner" />
                        }
                        else
                        {
                            <img id="preview_progressbarTW_img" src="#" />
                        }
                    </div>
                </form>
            </div>
            <div>
                <b>範例圖片</b><br />
                <div class="d-flex ExampleImgSection">
                    @switch (ViewBag.SampleImg.Count)
                    {
                        case 1:
                            <form action="/somewhere/to/upload" enctype="multipart/form-data">
                                <input type="file" accept="image/gif, image/jpeg, image/png" />
                                <div>
                                    <img src="@ViewBag.SampleImg[0].ImageUrl" />
                                </div>
                            </form>
                            <form action="/somewhere/to/upload" enctype="multipart/form-data">
                                <input type="file" accept="image/gif, image/jpeg, image/png" />
                                <div>
                                    <img src="#" />
                                </div>
                            </form>
                            break;
                        case 2:
                            <form action="/somewhere/to/upload" enctype="multipart/form-data">
                                <input type="file" accept="image/gif, image/jpeg, image/png" />
                                <div>
                                    <img src="@ViewBag.SampleImg[0].ImageUrl" />
                                </div>
                            </form>
                            <form action="/somewhere/to/upload" enctype="multipart/form-data">
                                <input type="file" accept="image/gif, image/jpeg, image/png" />
                                <div>
                                    <img src="@ViewBag.SampleImg[1].ImageUrl" />
                                </div>
                            </form>
                            break;
                        default:
                            <form action="/somewhere/to/upload" enctype="multipart/form-data">
                                <input type="file" accept="image/gif, image/jpeg, image/png" />
                                <div>
                                    <img src="#" />
                                </div>
                            </form>
                            <form action="/somewhere/to/upload" enctype="multipart/form-data">
                                <input type="file" accept="image/gif, image/jpeg, image/png" />
                                <div><img src="#" /></div>
                            </form>
                            break;
                    }
                </div>
            </div>
            <div class="mt-1 CreateEventBtnSection">
                <a class="btn" id="cancelButton" type="button" onclick="history.back()">取消</a>
                @* <button class="btn" id="PreviewButton" type="button" onclick="UpdateEventExImg()">預覽</button> *@
                <button class="btn" id="okButton" type="button" onclick="PostAllToSQL()">發起活動</button>
            </div>
        </div>
    </div>
</div>
<script src="~/js/Lolm/EventEdit.js"></script>
<script src="https://cdn.jsdelivr.net/npm/quill@2.0.0-rc.2/dist/quill.js"></script>
<script src="/js/Lolm/Quill.js"></script>
<script defer>
    var TheEventId = @Html.Raw(ViewBag.Event[0].TheEventId);
    quill.setContents(@Html.Raw(ViewBag.Event[0].Description));
</script>
