﻿@* @model ImaginkContext; *@
@model List<EventsAndImage>

@* 編輯器的套件 *@
@* <link href="https://cdn.jsdelivr.net/npm/quill@2.0.0-rc.2/dist/quill.snow.css"
	  rel="stylesheet" /> *@

@* 新稱部分 *@
@{
    // 新增一個抓 id 並把他轉成 int32 之變數
    int AAA = Convert.ToInt32(@ViewBag.Eid);
}
<script>
    var EventIdStocker = @AAA
</script>

<link href="~/css/Lolm/EventContent.css" rel="stylesheet" />

@* 活動圖片 *@
@if (Model[0].Banner != null)
{
    <div class="container-fluid px-0 EventHeaderImg">
        <img class="img-fluid" src="@Model[0].Banner
                            " alt="Alternate Text" />
    </div>
}
@* 說明欄 *@
<div class="container-fluid EventIntroSection">
    <div class="row d-flex align-items-center pt-4">
        @* 主辦 *@
        <div class="col-3 d-flex align-items-center">
            <a class="d-flex align-items-center" href="#">
                @if (Model[0].EveCreAvatar != null)
                {
                    <img class="MidSizeHeadShot" src="data:image/*;base64,@(Convert.ToBase64String(Model[0].EveCreAvatar))" alt="沒有頭像" />
                }<b>@Model[0].EveCreName</b>
            </a>
            <p class="mb-0">主辦</p>
        </div>

        <div class="col-6 d-flex justify-content-center text-center EventTitle">
            <h3>@Model[0].EventName</h3>
        </div>
        <div class="col-3 d-flex align-items-center justify-content-center">
            <b>&nbsp;&nbsp;@Html.DisplayFor(model => model[0].StartDate)</br>~@Html.DisplayFor(model => model[0].EndDate)</b>
        </div>
    </div>
    <div class="row">
        @* 活動描述 EventDescription *@
        <div id="editor" class="col EventDE">
        </div>
    </div>
    @if (Model.Any(model => model.ImageSample == true))
    {
        <div class="row">
            <div class="col">
                <h5 class="text-center fw-bold">範例圖片</h5>
                <div class="row">
                    @foreach (var item in Model.FindAll(model => model.ImageSample == true))
                    {
                        <div class="col-6 EventExampleImg"><img src="@item.ImageUrl" alt="Alternate Text" /></div>
                    }
                </div>
            </div>
        </div>
    }
</div>
@* 投稿區 *@
<div class="container-fluid">
    @* 預留給投稿區的導覽列 *@
    <div class="row EventNav justify-content-end align-items-center">
        <div class="" style="width:12rem;">
            <select class="form-select">
                <option value="value">以人氣排序</option>
                <option value="value">以發布日期排序</option>
            </select>
        </div>


    </div>

    <div class="row row-cols-5 EventPostSection">
        @if (Model.Any(item => item.ImageSample == null && item.ImageUrl != null))
        {
            @foreach (var item in Model.FindAll(model => model.ImageSample == null && model.ImageUrl != null))
            {
                <div class="col EventPost" id="@("Post" + item.EvtImgId)">
                    @* 投稿圖片*@
                    <div class="EventPostImgPart">
                        <div><img class="img-fluid p-1" src="@item.ImageUrl" /></div>
                    </div>
                    @* 標題與愛心數 *@
                    <div class="d-flex justify-content-between align-items-start px-1">
                        <div><span class="EventPostTitle"><b>@item.ImgTitle</b></span></div>
                        <div class="d-flex align-items-center">
                            <div class="d-flex justify-content-center align-items-center me-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                    <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15" />
                                </svg>
                            </div>
                            <p class="mb-0">@item.EvePostLike</p>
                        </div>
                    </div>
                    @* 作者 *@
                    <div class="d-flex align-items-center px-1 EventParticipant">
                        <a class="d-flex align-items-center text-secondary" href="#"><img class="SmallSizeHeadShot" src="data:image/*;base64,@(Convert.ToBase64String(item.ImgCreAvatar))" alt="Alternate Text" />@item.ImgCreName</a>
                    </div>
                </div>
            }

            <!--
                <div class="col EventPost">
            @* 投稿圖片*@
                <div class="EventPostImgPart">
                    <div><img class="img-fluid p-1" src="~/img/Lolm/EventContent/SuiseiImg.jpg" /></div>

                </div>
            @* 標題與愛心數 *@
                <div class="d-flex justify-content-between px-1">
                    <div><span class="EventPostTitle"><b>WRYYYY</b></span></div>
                    <div class="d-flex align-items-center">
                        <div class="d-flex justify-content-center align-items-center me-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15" />
                            </svg>
                        </div>
                        <p class="mb-0">1299</p>
                    </div>
                </div>
            @* 作者 *@
                <div class="d-flex align-items-center px-1 EventParticipant">
                    <a class="d-flex align-items-center text-secondary" href="#"><img class="SmallSizeHeadShot" src="~/img/Lolm/EventContent/MajoImg.jpg" alt="Alternate Text" />蝦為先</a>
                </div>
            </div>
            -->
        }
        else
        {
            <div class="col-12">
                <h2 class="text-black-50 py-5">快來搶頭香，成為第一個投稿的人！</h2>
            </div>
        }
    </div>
</div>
@* 投稿按鈕 *@
<button class="btn btn-xs p-0 QuickPostBtn" data-bs-toggle="modal" data-bs-target="#QuickPostModal">
    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
        <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z" />
        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
    </svg>
</button>
<!--參加活動按鈕Modal -->
<div id="QuickPostModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header d-flex align-items-center justify-content-between">
                <h5 class="mb-0"><b>活動投稿</b></h5>
                <button type="button" class="btn btn-close CloseBtn" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/somewhere/to/upload" enctype="multipart/form-data">
                    <input type="file" id="progressbarTWInput" accept="image/gif, image/jpeg, image/png" />
                    <img id="preview_progressbarTW_img" src="#" />
                </form>
                <form>
                    <div class="form-group">
                        <label for="titleTextBox">
                            <b>標題</b>
                        </label>
                        <input type="text"
                               id="titleTextBox"
                               class="form-control"
                               placeholder="請輸入標題" />
                    </div>
                    <div class="form-group">
                        <label for="EventPostContentTextBox">
                            <b>內容</b>
                        </label>
                        <textarea class="form-control" placeholder="請輸入內容"
                                  id="EventPostContentTextBox"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="pull-right">
                    <button type="button"
                            id="okButton"
                            class="btn">
                        投稿
                    </button>
                    <button type="button"
                            id="cancelButton"
                            class="btn btn-outline-secondary"
                            data-bs-dismiss="modal" aria-label="Close">
                        取消
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
@* 投稿內容Modal *@
<div class="modal fade" id="EventPostModal" tabindex="-1" aria-labelledby="EventPostModalLabel" aria-hidden="true">
    @* ▼這個控制Modal的最大大小 *@
    <div class="modal-dialog PostContentModal">
        <div class="modal-content">
            <div class="modal-header">
                <div class="d-flex align-items-center">
                    <button type="button" class="btn bi bi-arrow-left" data-bs-dismiss="modal" aria-label="Close"></button>
                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                </div>
                <div class="d-flex align-items-center px-1 EventParticipant">
                    <a href="#" class="d-flex align-items-center">
                        <img id="PostCreatorAvatar" class="MidSizeHeadShot" src="" alt="" />
                        <p id="PostCreatorName" class="mb-0 d-flex text-secondary align-items-center" href="#"></p>
                    </a>
                </div>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <img class="img-fluid EventPostModalImg" src="" alt="" />
                </div>
                <div class="my-2" id="PostDescription">                    
                </div>
                <div>
                    <div class="d-flex align-items-center">
                        <div class="d-flex justify-content-center align-items-center me-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15" />
                            </svg>
                        </div>
                        <p id="PostLikeInt" class="mb-0"></p>
                    </div>
                </div>
            </div>
            @*             <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
            </div> *@
        </div>
    </div>
</div>


<script src="~/js/Lolm/EventContent.js"></script>

<!-- 編輯器的套件 -->
<!-- Include the Quill library -->
<script src="https://cdn.jsdelivr.net/npm/quill@2.0.0-rc.2/dist/quill.js"></script>
<script defer>
                        //Quill設定
                        // Initialize Quill editor
                        const quill = new Quill("#editor", {
        readOnly: true
    });
    console.log(@Html.Raw(Model[0].EventDes));
    quill.setContents(@Html.Raw(Model[0].EventDes));

</script>


